%h1 Register with JsGet Server

%form{:method => "post", :action => "/register"} 
  %fieldset
    %legend Register with OpenId
    %ul
      %li
        %label{:for => "openid_identifier"} OpenId
        %input{:id => "openid_identifier", :type => "text", :name => "openid_identifier"}
      %li
        %p.buttons
          %input{:type => "submit", :value => "Register"}

